<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<form th:action="@{/create}" method="post" th:object="${customer}">
<table>
    <tr>
        <td>First name</td>
        <td><input type="text" th:field="*{firstname}"></td>
    </tr>
    <tr>
        <td>Last name</td>
        <td><input type="text" th:field="*{lastname}"></td>
    </tr>
</table>
    <button>Submit</button>
</form>
</body>
</html>
